"Dodavatel",
"Typ",
"Stabilita",
"Ulice",
"Mìsto",
"Stát",
"PSÈ",
"IÈ",
"DIÈ",
"Tel.",
"Fax",
"E-mail",
"ICQ",
"Jabber",
"MSN",
"WWW",
"Poznámka",
"Fond",
"Sazba",
"Rychlost",
;
{foreach name=dodavatele from=$dodavatele->GetData() item=dodavatel}
"{$dodavatel.nazev}",
"{$dodavatel.typ}",
"{$dodavatel.stabilita}",
"{$dodavatel.ulice}",
"{$dodavatel.mesto}",
"{$dodavatel.stat}",
"{$dodavatel.psc}",
"{$dodavatel.ic}",
"{$dodavatel.dic}",
"{$dodavatel.tel}",
"{$dodavatel.fax}",
"{$dodavatel.email}",
"{$dodavatel.icq}",
"{$dodavatel.jabber}",
"{$dodavatel.msn}",
"{$dodavatel.www}",
"{$dodavatel.poznamka}",
"{$dodavatel.fond|string_format:"%d"}",
"{$dodavatel.sazba|string_format:"%d"}",
"{$dodavatel.rychlost|string_format:"%.2f"|replace:",":"."}",
;
{/foreach}
