{include file='header.tpl.htm' title='Dodavatelé' page='dodavatele' js='dodavatele.js'}
{if $help}
<div id="dialog-message" title="Dodavatelé">
	<p>
		<span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 230px 0;"></span>
        Zde se zobrazují <strong>vaši dodavatelé</strong>.
    </p>
    <p>
        V tabulce se zobrazuje název dodavatele, jeho zaměření, síla spolupráce, kontaktní údaje, hodinová sazba, koeficient rychlosti
        a vaše závazky.
    </p>
    <p>
        <strong>Základní vlastnosti:</strong>
    </p>
    <ul>
        <li>přidávání, úprava a mazání dodavatelů</li>
        <li>zobrazení dodavatelových podkladů</li>
        <li>zobrazení nezaplacených podkladů</li>
        <li>zobrazení úkolů</li>
        <li>řazení</li>
        <li>vyhledávání</li>
        <li>export do csv</li>
    </ul>
</div>
{literal}
<script>
    $( "#dialog-message" ).dialog({
        modal: false,
        show: 'slide',
        hide: 'fade',
        minWidth: '500',
        buttons: {
            'OK, již nezobrazovat': function() {
                $.cookie('help_dodavatele', 'off', {domain: '.xworktime.com', expires: 999, path: '/'})
                $( this ).dialog( "close" );
            }
        }
    })
    $( "#dialog-message" ).dialog('open')
</script>
{/literal}
{/if}
<div id="main">
    <h3>Dodavatelé</h3>
    {assign var=q value=$smarty.server.QUERY_STRING}
    {assign var=q value=$q|regex_replace:"/&*sort=[_a-z]+/":""}
    {assign var=q value=$q|regex_replace:"/&*page=[0-9]+/":""}
    <p><span class="pocet">Počet záznamů: {$dodavatele->GetCount()}</span></p>
    <hr />
    <form method="get" action="./" class="noprint">
    <p>
        <label for="nazev">Jméno dodavatele:</label>
        <input id="nazev" name="nazev" type="text" value="{$smarty.get.nazev|escape}" /><input type="submit" id="butt_vyhledat" value="Vyhledat" />
{if $smarty.get.sort}
        <input name="sort" type="hidden" value="{$smarty.get.sort}" />
{/if}
    </p>
    </form>
{assign var=q value=$smarty.server.QUERY_STRING}
{assign var=q value=$q|regex_replace:"/&*sort=[_a-z]+/":""}
{assign var=q value=$q|regex_replace:"/&*page=[0-9]+/":""}
    <table>
    <tr>
        <th class="th-left"><span class="has-tip tip-top" title="Jméno dodavatele">Dodavatel</span></th>
        <th><span class="has-tip tip-top" title="Pracovní zařazení">Typ</span></th>
        <th><span class="has-tip tip-top" title="Stabilita spolupráce">Stabilita</span></th>
        <th><span class="has-tip tip-top" title="Telefon">Tel.</span></th>
        <th><span class="has-tip tip-top" title="E-mail">E-mail</span></th>
        <th><span class="has-tip tip-top" title="Hodinová sazba">Sazba</span></th>
        <th><span class="has-tip tip-top" data-width="250" title="Koeficient rychlosti dodavatele (>=1), kterým se přenásobí odpracované hodiny pro klienta">Rychlost</span>&nbsp;</th>
        <th><span class="has-tip tip-top" title="Částka, která byla odpracována, ale zatím není zaplacena">Dlužíme</span>&nbsp;</th>
        <th class="th-right"><a href="{$ROOTPATH}dodavatele/pridat.htm"><img src="{$ROOTPATH}img/add.gif" alt="Přidat dodavatele" title="Přidat dodavatele" class="has-tip tip-top" /></a></th>
    </tr>
    <tr class="razeni">
        <th class="td-razeni"><a href="?{$q}&amp;sort=_nazev{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/dolu{if $smarty.get.sort=='_nazev'}red{/if}.gif" width="29" height="12" alt="Sestupně" /></a><a href="?{$q}&amp;sort=nazev{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/nahoru{if $smarty.get.sort=='nazev'}red{/if}.gif" width="29" height="12" alt="Vzestupně" /></a></th>
        <th class="td-razeni"><a href="?{$q}&amp;sort=_typ{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/dolu{if $smarty.get.sort=='_typ'}red{/if}.gif" width="29" height="12" alt="Sestupně" /></a><a href="?{$q}&amp;sort=typ{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/nahoru{if $smarty.get.sort=='typ'}red{/if}.gif" width="29" height="12" alt="Vzestupně" /></a></th>
        <th class="td-razeni"><a href="?{$q}&amp;sort=_stabilita{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/dolu{if $smarty.get.sort=='_stabilita'}red{/if}.gif" width="29" height="12" alt="Sestupně" /></a><a href="?{$q}&amp;sort=stabilita{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/nahoru{if $smarty.get.sort=='stabilita'}red{/if}.gif" width="29" height="12" alt="Vzestupně" /></a></th>
        <th class="td-razeni"><a href="?{$q}&amp;sort=_tel{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/dolu{if $smarty.get.sort=='_tel'}red{/if}.gif" width="29" height="12" alt="Sestupně" /></a><a href="?{$q}&amp;sort=tel{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/nahoru{if $smarty.get.sort=='tel'}red{/if}.gif" width="29" height="12" alt="Vzestupně" /></a></th>
        <th class="td-razeni"><a href="?{$q}&amp;sort=_email{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/dolu{if $smarty.get.sort=='_email'}red{/if}.gif" width="29" height="12" alt="Sestupně" /></a><a href="?{$q}&amp;sort=email{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/nahoru{if $smarty.get.sort=='email'}red{/if}.gif" width="29" height="12" alt="Vzestupně" /></a></th>
        <th class="td-razeni"><a href="?{$q}&amp;sort=_sazba{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/dolu{if $smarty.get.sort=='_sazba'}red{/if}.gif" width="29" height="12" alt="Sestupně" /></a><a href="?{$q}&amp;sort=sazba{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/nahoru{if $smarty.get.sort=='sazba'}red{/if}.gif" width="29" height="12" alt="Vzestupně" /></a></th>
        <th class="td-razeni"><a href="?{$q}&amp;sort=_rychlost{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/dolu{if $smarty.get.sort=='_rychlost'}red{/if}.gif" width="29" height="12" alt="Sestupně" /></a><a href="?{$q}&amp;sort=rychlost{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/nahoru{if $smarty.get.sort=='rychlost'}red{/if}.gif" width="29" height="12" alt="Vzestupně" /></a></th>
        <th class="td-razeni"><a href="?{$q}&amp;sort=_dluh{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/dolu{if $smarty.get.sort=='_dluh'}red{/if}.gif" width="29" height="12" alt="Sestupně" /></a><a href="?{$q}&amp;sort=dluh{if $smarty.get.page}&amp;page={$smarty.get.page}{/if}"><img src="{$ROOTPATH}img/nahoru{if $smarty.get.sort=='dluh'}red{/if}.gif" width="29" height="12" alt="Vzestupně" /></a></th>
        <th class="td-razeni">&nbsp;</th>
    </tr>
{foreach name=dodavatele from=$dodavatele->GetData() item=dodavatel}
{if $dodavatel.status==1}
    <tr{if $smarty.foreach.podklady.index%2} class="even"{/if}>
{else}
    <tr{if $smarty.foreach.podklady.index%2} class="even inactive"{else} class="inactive"{/if}>
{/if}
        <td class="left">{$dodavatel.nazev|escape}</td>
        <td class="center">{$dodavatel.typ|escape}</td>
        <td class="center">{$dodavatel.stabilita|escape}</td>
        <td class="left">{if $dodavatel.tel!="+420 "}{$dodavatel.tel|escape}{else} {/if}</td>
        <td class="left">{if $dodavatel.email}{mailto address=$dodavatel.email}{/if}</td>
        <td class="right">{if $dodavatel.sazba==0}zdarma{else}{$dodavatel.sazba|string_format:"%d"}{/if}</td>
        <td class="right">{$dodavatel.rychlost}</td>
        <td class="right">{$dodavatel.dluh|string_format:"%.2f"}</td>
        <td class="head-icon"><a href="{$ROOTPATH}dodavatele/smazat.php?id={$dodavatel.id}" onclick="return confirm('Opravdu smazat?')"><img src="{$ROOTPATH}img/delete.gif" alt="Smazat" title="Smazat dodavatele" class="has-tip tip-top" /></a>
            <a href="{$ROOTPATH}dodavatele/upravit.php?id={$dodavatel.id}"><img src="{$ROOTPATH}img/edit.gif" alt="Upravit" title="Upravit dodavatele" class="has-tip tip-top" /></a>
            <a href="{$ROOTPATH}podklady/?filtr=2&amp;id_dodavatel={$dodavatel.id}"><img src="{$ROOTPATH}img/docs.gif" alt="Podklady" title="Zobrazit podklady dodavatele" class="has-tip tip-top" /></a>
            <a href="{$ROOTPATH}podklady/?filtr=2&amp;id_dodavatel={$dodavatel.id}&amp;zaplacend=2"><img src="{$ROOTPATH}img/nezaplacene.gif" alt="Nezaplacené" title="Zobrazit nezaplacené podklady" class="has-tip tip-top" /></a>
            <a href="{$ROOTPATH}ukoly/?filtr=2&amp;id_dodavatel={$dodavatel.id}&amp;status[]=novy&amp;status[]=prijaty&amp;sort=status"><img src="{$ROOTPATH}img/ukoly{if !$dodavatel.ukoly}2{/if}.gif" alt="Úkoly {$dodavatel.ukoly}" title="Zobrazit úkoly ({$dodavatel.ukoly})" class="has-tip tip-top" /></a></td>
    </tr>
{/foreach}
{if !$dodavatele->GetCount()}
    <tr>
        <td colspan="9" class="center">Žádný dodavatel. [ <a href="pridat.php">přidat</a> ]</td>
    </tr>
{else}
    <tr>
        <td colspan="8"></td>
        <td class="center"><a id="qexp" href="{$ROOTPATH}dodavatele/export.php"><img src="{$ROOTPATH}img/export.gif" title="Export dodavatelů do CSV" class="has-tip tip-top" /></a></td>
    </tr>
{/if}
    </table>
    
{if $dodavatele->GetCount() > 20}
{assign var=c value=$dodavatele->GetCount()}
{if $smarty.get.page < 1}
    {assign var=page value=1}
{else}
    {assign var=page value=$smarty.get.page}
{/if}
{math assign=p equation="x%y" x=$c y=20 format="%d"}
{math assign=c equation="x/y" x=$c y=20 format="%d"}
{if $p}
    {math assign=c equation="x+1" x=$c format="%d"}
{/if}
{if $page > 2 && $c > 3}
    {math assign=start equation="x-1" x=$page format="%d"}
{else}
    {assign var=start value=1}
{/if}
{if $start+2 > $c && $c > 3}
    {math assign=start equation="x-2" x=$c format="%d"}
{/if}
    <p class="lister">
    <a href="?{$q}&amp;page=1{if $smarty.get.sort}&amp;sort={$smarty.get.sort}{/if}">první</a> | <a href="?{$q}&amp;page={if $page-1}{$page-1}{else}1{/if}{if $smarty.get.sort}&amp;sort={$smarty.get.sort}{/if}">&lt;&lt; přechozí</a> |
{section name=list start=$start loop=$c+1 max=3 step=1}
    {if $smarty.section.list.index == $page}
    <strong>{$smarty.section.list.index|string_format:"%02d"}</strong>
    {else}
    <a href="?{$q}&amp;page={$smarty.section.list.index}{if $smarty.get.sort}&amp;sort={$smarty.get.sort}{/if}">{$smarty.section.list.index|string_format:"%02d"}</a>
    {/if}
    {if !$smarty.section.list.last}
     - 
    {/if}
{/section}
{if $dodavatele->GetCount()==0}
    <strong>--</strong>
{/if}
     | <a href="?{$q}&amp;page={if $page+1<$c}{$page+1}{else}{$c}{/if}{if $smarty.get.sort}&amp;sort={$smarty.get.sort}{/if}">další &gt;&gt;</a> | <a href="?{$q}&amp;page={$c}{if $smarty.get.sort}&amp;sort={$smarty.get.sort}{/if}">poslední</a>
    </p>
{/if}        
    
{include file='footer.tpl.htm'}
