<div id="menu">
    <ul class="menu">
      <li><a href="../" class="menuclass">Hlavní přehled</a></li>
    </ul>
    <ul class="menu">
      <li><a href="../podklady/" class="menuclass">Podklady</a>
        <ul>
          <li><a href="../podklady/pridat.htm">Přidat podklady</a></li>
          <li><a href="../podklady/?filtr=1">Vyhledat podklady</a></li>
          <li><a href="../podklady/export.htm?splnenood=&amp;splnenodo=&amp;id_zadavatel=&amp;id_dodavatel=&amp;nazev=&amp;klic=&amp;fakturaz=&amp;zaplacenz=&amp;fakturad=&amp;zaplacend=">Exportovat podklady</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li><a href="../podklady/" class="menuclass">Podklad</a>
        <ul>
          <li><a href="../podklady/pridat.htm">Přidat klienta</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li><a href="..//ukoly/" class="menuclass">Úkoly</a>
        <ul>
          <li><a href="../ukoly/pridat.htm">Přidat úkol</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li><a href="../zadavatele/" class="menuclass">Zadavatelé</a>
        <ul>
          <li><a href="../zadavatele/pridat.htm">Přidat zadavatele</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li><a href="../dodavatele/" class="menuclass">Dodavatelé</a>
        <ul>
          <li><a href="../dodavatele/pridat.htm" class="subclass">Přidat dodavatele</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li><a href="../uzivatele/" class="menuclass">Uživatelé</a>
        <ul>
          <li><a href="../uzivatele/pridat.htm">Přidat uživatele</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li><a href="../klienti/" class="menuclass">Klienti</a>
        <ul>
          <li><a href="../klienti/pridat.htm">Přidat klienta</a></li>
        </ul>
      </li>
    </ul>
  </div>
    <hr class="noprint" />

