{include file='header.tpl.htm' title='Podklady' page='podklady' js='podklady-duplikovat.js'}
<div id="main">
    <h3>Podklady</h3>
    <hr />
    <p class="zpet_na_seznam">
        <a href="./{$smarty.server.HTTP_REFERER|regex_replace:"/^[^\?]+/":""}">&lt;&lt; zpět na seznam podkladů</a>
    </p>
    <form action="duplikovat2.php" method="post">
    <p><input name="query" type="hidden" value="{$smarty.server.HTTP_REFERER|regex_replace:"/^[^\?]+\?*/":""}" /></p>
    <fieldset>
        <legend><img src="{$ROOTPATH}img/copy.gif" alt="Duplikovat podklad" title="Duplikovat podklad" /> Duplikovat podklad</legend>
{if $error->CheckMsg('id_podklad')}
        <p><span>! {$error->GetMsg('id_podklad')}</span></p>
{/if}
        <table id="formtable">
        <tr>
            <td class="form-left"><label for="id_zadavatel">Klient <span class="has-tip tip-top" title="Povinný údaj"> * </span>:</label></td>
            <td class="form-right"><select id="id_zadavatel" name="id_zadavatel">
                <option value="">--vyberte--</option>
{foreach name=zadavatele from=$zadavatele->GetData() item=zadavatel}
{if $error->IsError()}
    {if $error->GetVal('id_zadavatel')==$zadavatel.id}
                <option value="{$zadavatel.id}" selected="selected">{$zadavatel.nazev|escape}</option>
    {else}
                <option value="{$zadavatel.id}">{$zadavatel.nazev|escape}</option>
    {/if}
{else}
    {if $ukol->Get('id_zadavatel')==$zadavatel.id}
                <option value="{$zadavatel.id}" selected="selected">{$zadavatel.nazev|escape}</option>
    {else}
                <option value="{$zadavatel.id}">{$zadavatel.nazev|escape}</option>
    {/if}
{/if}
{/foreach}
            </select>
{if $error->CheckMsg('id_zadavatel')}
            <span class="form-error-msg">! {$error->GetMsg('id_zadavatel')}</span>
{/if}
            </td>
        </tr>
        <tr>
            <td class="form-left"><label for="sazbaz">Hodinová sazba pro klienta <span class="has-tip tip-top" title="Sazba, kterou účtujete klientovi. Povinný údaj."> * </span>:</label></td>
            <td class="form-right"><select id="sazbaz" name="sazbaz">
                <option value="">--vyberte--</option>
{assign var='found' value=0}
{foreach name=sazby from=$sazby->GetData() item=sazba}
{if $error->IsError()}
    {if $error->GetVal('sazbaz')==$sazba.sazba}{assign var='found' value=1}
                <option value="{$sazba.sazba|string_format:"%d"}" selected="selected">{$sazba.sazba|string_format:"%d"} - {$sazba.nazev}</option>
    {else}
                <option value="{$sazba.sazba|string_format:"%d"}">{$sazba.sazba|string_format:"%d"} - {$sazba.nazev}</option>
    {/if}
{else}
    {if $podklad->Get('sazbaz')==$sazba.sazba}{assign var='found' value=1}
                <option value="{$sazba.sazba|string_format:"%d"}" selected="selected">{$sazba.sazba|string_format:"%d"} - {$sazba.nazev}</option>
    {else}
                <option value="{$sazba.sazba|string_format:"%d"}">{$sazba.sazba|string_format:"%d"} - {$sazba.nazev}</option>
    {/if}
{/if}
{/foreach}
            </select>    
            <input id="sazbaz2" name="sazbaz2" type="text" value="{if !$found}{if $error->IsError()}{$error->GetVal('sazbaz')|string_format:"%d"}{else}{$podklad->Get('sazbaz')|string_format:"%d"}{/if}{/if}" size="5" />            
{if $error->CheckMsg('sazbaz')}
            <span class="form-error-msg">! {$error->GetMsg('sazbaz')}</span>
{/if}
            </td>
        </tr>        
        <tr>
            <td class="form-left"><label for="id_dodavatel">Dodavatel <span class="has-tip tip-top" title="Povinný údaj"> * </span>:</label></td>
            <td class="form-right"><select id="id_dodavatel" name="id_dodavatel">
                <option value="">--vyberte--</option>
{foreach name=dodavatele from=$dodavatele->GetData() item=dodavatel}
{if $error->IsError()}
    {if $error->GetVal('id_dodavatel')==$dodavatel.id}
                <option value="{$dodavatel.id}" selected="selected">{$dodavatel.nazev|escape}</option>
    {else}
                <option value="{$dodavatel.id}">{$dodavatel.nazev|escape}</option>
    {/if}
{else}
    {if $ukol->Get('id_dodavatel')==$dodavatel.id}
                <option value="{$dodavatel.id}" selected="selected">{$dodavatel.nazev|escape}</option>
    {else}
                <option value="{$dodavatel.id}">{$dodavatel.nazev|escape}</option>
    {/if}
{/if}
{/foreach}
            </select>
{if $error->CheckMsg('id_dodavatel')}
            <span class="form-error-msg">! {$error->GetMsg('id_dodavatel')}</span>
{/if}
            </td>
        </tr>
        <tr>
            <td class="form-left"><label for="sazbad">Hodinová sazba dodavatele <span class="has-tip tip-top" title="Povinný údaj"> * </span>:</label></td>
            <td class="form-right"><input id="sazbad" name="sazbad" type="text" value="{if $error->IsError()}{if $error->GetVal('sazbad')!=''}{$error->GetVal('sazbad')|string_format:"%d"}{/if}{else}{$podklad->Get('sazbad')|string_format:"%d"}{/if}" />
{if $error->CheckMsg('sazbad')}
            <span class="form-error-msg">! {$error->GetMsg('sazbad')}</span>
{/if}
            </td>
        </tr>        
        <tr>
            <td class="form-left"><label for="nazev">Název práce <span class="has-tip tip-top" title="Povinný údaj"> * </span>:</label></td>
            <td class="form-right"><input id="nazev" name="nazev" type="text" value="{if $error->IsError()}{$error->GetVal('nazev')|escape}{else}{$ukol->Get('nazev')|escape}{/if}" size="60" />
{if $error->CheckMsg('nazev')}
            <span class="form-error-msg">! {$error->GetMsg('nazev')}</span>
{/if}
            </td>
        </tr>
        <tr>
            <td class="form-left"><label for="popis">Popis práce:</label></td>
            <td class="form-right"><textarea id="popis" name="popis" rows="5" cols="40">{if $error->IsError()}{$error->GetVal('popis')|escape}{else}{$ukol->Get('popis')|escape}{/if}</textarea>
            </td>
        </tr>
        <tr>
            <td class="form-left"><label for="hodinyd">Počet hodin dodavatele <span class="has-tip tip-top" title="Počet skutečně odpracovaných hodin dodavatele. Povinný údaj"> * </span>:</label></td>
            <td class="form-right"><input id="hodinyd" name="hodinyd" type="text" value="{if $error->IsError()}{$error->GetVal('hodinyd')}{else}{$podklad->Get('hodinyd')}{/if}" />
{if $error->CheckMsg('hodinyd')}
            <span class="form-error-msg">! {$error->GetMsg('hodinyd')}</span>
{/if}
            </td>
        </tr>
        <tr>
            <td class="form-left"><label for="hodinyz">Počet hodin pro klienta <span class="has-tip tip-top" title="Počet hodin, které vykazujete klientovi. Povinný údaj"> * </span>:</label></td>
            <td class="form-right"><input id="hodinyz" name="hodinyz" type="text" value="{if $error->IsError()}{$error->GetVal('hodinyz')}{else}{$podklad->Get('hodinyz')}{/if}" />
{if $error->CheckMsg('hodinyz')}
            <span class="form-error-msg">! {$error->GetMsg('hodinyz')}</span>
{/if}
            </td>
        </tr>
        <tr>
            <td class="form-left"><label for="klic">Klíčové slovo <span class="has-tip tip-top" title="Klíčovým slovem můžete rozlišit projekty pro jednoho klienta. Povinný údaj"> * </span>:</label></td>
            <td class="form-right"><select id="klic" name="klic">
                <option value="">--vyberte--</option>
{assign var='found' value=0}
{foreach name=klice from=$klice->GetData() item=klic}
{if $error->IsError()}
    {if $error->GetVal('klic')==$klic.klic}{assign var='found' value=1}
                <option value="{$klic.klic|escape}" selected="selected">{$klic.klic|escape}</option>
    {else}
                <option value="{$klic.klic|escape}">{$klic.klic|escape}</option>
    {/if}
{else}
    {if $ukol->Get('klic')==$klic.klic}{assign var='found' value=1}
                <option value="{$klic.klic|escape}" selected="selected">{$klic.klic|escape}</option>
    {else}
                <option value="{$klic.klic|escape}">{$klic.klic|escape}</option>
    {/if}
{/if}
{/foreach}
            </select>
            <input id="klic2" name="klic2" type="text" value="{if $error->IsError() && !$found}{$error->GetVal('klic')}{/if}" />
{if $error->CheckMsg('klic')}
            <span class="form-error-msg">! {$error->GetMsg('klic')}</span>
{/if}
            </td>
        </tr>
        <tr>
            <td class="form-left"><label for="splneno">Datum realizace (RRRR-MM-DD)<span class="has-tip tip-top" title="Datum ukončení úkolu. Povinný údaj"> * </span>:</label></td>
            <td class="form-right"><input id="splneno" name="splneno" type="text" value="{if $error->IsError()}{$error->GetVal('splneno')}{else}{if $ukol->Get('splneno')!='0000-00-00'}{$ukol->Get('splneno')}{/if}{/if}" />
{if $error->CheckMsg('splneno')}
            <span class="form-error-msg">! {$error->GetMsg('splneno')}</span>
{/if}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left"><label for="fakturaz"><span class="has-tip tip-top" title="Klient-stav fakturace (fakturováno/nefakturováno)">Kfakt</span>:</label>
            <input id="fakturaz" name="fakturaz" type="checkbox" value="1" {if $error->IsError() && $error->GetVal('fakturaz')} checked="checked"{else}{if $podklad->Get('fakturaz')} checked="checked"{/if}{/if}/>
            <label for="zaplacenz"><span class="has-tip tip-top" title="Klient-stav platby (zaplaceno/nezaplaceno)">Kzapl</span>:</label>
            <input id="zaplacenz" name="zaplacenz" type="checkbox" value="1" {if $error->IsError() && $error->GetVal('zaplacenz')} checked="checked"{else}{if $podklad->Get('zaplacenz')} checked="checked"{/if}{/if}/>
            <label for="fakturad"><span class="has-tip tip-top" title="Dodavatel-stav fakturace (fakturováno/nefakturováno)">Dfakt</span>:</label>
            <input id="fakturad" name="fakturad" type="checkbox" value="1" {if $error->IsError() && $error->GetVal('fakturad')} checked="checked"{else}{if $podklad->Get('fakturad')} checked="checked"{/if}{/if}/>
            <label for="zaplacend"><span class="has-tip tip-top" title="Dodavatel-stav platby (zaplaceno/nezaplaceno)">Dzapl</span>:</label>
            <input id="zaplacend" name="zaplacend" type="checkbox" value="1" {if $error->IsError() && $error->GetVal('zaplacend')} checked="checked"{else}{if $podklad->Get('zaplacend')} checked="checked"{/if}{/if}/>
            </td>
        </tr>
        <tr>
            <td class="form-left"><input type="submit" id="butt_green" value="Uložit" /></td>
            <td class="form-right">&nbsp;</td>
        </tr>
        <tr>
            <td class="form-left">* povinné položky</td>
            <td class="form-right">&nbsp;</td>
        </tr>
        </table>
    </fieldset>
    </form>
    <p class="zpet_na_seznam">
        <a href="./{$smarty.server.HTTP_REFERER|regex_replace:"/^[^\?]+/":""}">&lt;&lt; zpět na seznam podkladů</a>
    </p>
{include file='footer.tpl.htm'}