<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
    <meta http-equiv="Content-Type"     content="text/html; charset=utf-8" />
    <meta http-equiv="Content-language" content="cs" />
    <meta http-equiv="Cache-Control"    content="must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma"           content="public" />
    <meta http-equiv="Cache-Control"    content="no-cache" /> 
    <meta http-equiv="Pragma"           content="no-cache" /> 
    <meta http-equiv="Expires"          content="-1" /> 
    <title>XWorkTime{if $dodavatel} | {$dodavatel->Get('nazev')}{/if}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{$ROOTPATH}img/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen" href="{$ROOTPATH}css/main.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{$ROOTPATH}css/default-print.css" />
    <!--[if IE 6]> 
    <link rel="stylesheet" type="text/css" href="{$ROOTPATH}css/ie.css" media="screen,projection" /> 
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="{$ROOTPATH}css/south-street/jquery-ui-1.10.0.custom.min.css" />
{if $css}
    <link rel="stylesheet" type="text/css" media="screen" href="{$ROOTPATH}css/{$css}" />
{/if}
{literal}
    <script type="text/javascript">
    window.jsErrors = [];
    window.onerror = function(errorMessage) {
      window.jsErrors.push(errorMessage);
    }
    </script>
{/literal}
    <script src="{$ROOTPATH}js/jquery-1.9.0.min.js"></script>
    <script src="{$ROOTPATH}js/jquery-ui.min.js"></script>
    <script src="{$ROOTPATH}js/jquery.tooltips.js"></script>
    <script src="{$ROOTPATH}js/jquery-action.js"></script>
    <script src="{$ROOTPATH}js/menu.js"></script>
{if $js}
    <script src="{$ROOTPATH}dodavatel/js/{$js}"></script>
{/if}
{literal}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-235489-18']);
      _gaq.push(['_setDomainName', 'xworktime.com']);
      _gaq.push(['_setAllowHash', 'false']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      $(document).ready(function($) {
        $(this).tooltips();
      });
    </script>
{/literal}
</head>
<body>
<div id="hodiny"></div>
<div id="web">
  <div id="top">
    <div id="h1"><h1>Demo</h1></div>
    <div id="h2-evidence"><h2>XWorkTime</h2></div>
    <div id="user">
      <p>{if $dodavatel}{$dodavatel->Get('nazev')}{/if}</p>
    </div>
    <div id="logout">
      <p><a href="{$ROOTPATH}dodavatel/odhlasit.php" title="Odhlásit">Odhlásit</a></p>
    </div>
    <div id="dluh-l"></div><div id="dluh">
        {if $dodavatel->Get('dluh')}
    <p>Aktuálně Vám dlužíme <a href="{$ROOTPATH}dodavatel/podklady/?filtr=2&amp;zaplacend=2&amp;sort=_splneno"><span class="dluh-suma">{$dodavatel->Get('dluh')|number_format:0:".":" "} Kč</span> &raquo;</a></p>
    {else}
    <p>Aktuálně Vám nic nedlužíme <a href="podklady/?filtr=2&amp;zaplacend=0&amp;sort=_splneno">&raquo;</a></p>
    {/if}</div>
    {*<div style="position:absolute;right:0px;top:75px"><p><strong>Novinka:</strong> Duplikování podkladů <a href="novinky.php">&nbsp;&raquo;&nbsp;</a></p></div>*}
  </div>
  <div id="menu">
    <ul class="menu">
      <li{if $page=='ukoly'} class="selected"{/if}><a href="{$ROOTPATH}dodavatel/" class="menuclass">Úkoly</a>
        <ul>
          <li><a href="{$ROOTPATH}dodavatel/">Seznam úkolů</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li{if $page=='podklady'} class="selected"{/if}><a href="{$ROOTPATH}dodavatel/podklady" class="menuclass">Podklady</a>
        <ul>
          <li><a href="{$ROOTPATH}dodavatel/podklady/">Seznam podkladů</a></li>
          <li><a href="{$ROOTPATH}dodavatel/podklady/hledat.htm">Vyhledat podklady</a></li>
          <li><a href="{$ROOTPATH}dodavatel/podklady/export.htm?splnenood={$smarty.get.splnenood}&amp;splnenodo={$smarty.get.splnenodo}&amp;id_zadavatel={$smarty.get.id_zadavatel}&amp;nazev={$smarty.get.nazev|escape}&amp;klic={$smarty.get.klic|escape}&amp;fakturad={$smarty.get.fakturad}&amp;zaplacend={$smarty.get.zaplacend}">Exportovat podklady</a></li>
        </ul>
      </li>
    </ul>
    <ul class="menu">
      <li{if $page=='nastaveni'} class="selected"{/if}><a href="{$ROOTPATH}dodavatel/nastaveni.php" class="menuclass">Nastavení</a></li>
    </ul>
  </div>
