{if in_array(1,$smarty.get.sloupce)}"Datum",{/if}
{if in_array(2,$smarty.get.sloupce)}"Položka",{/if}
{if in_array(3,$smarty.get.sloupce)}"Èas",{/if}
{if in_array(4,$smarty.get.sloupce)}"Sazba",{/if}
{if in_array(5,$smarty.get.sloupce)}"Celkem",{/if}
{if in_array(6,$smarty.get.sloupce)}"Klíè",{/if}
;
{foreach name=podklady from=$podklady->GetData() item=podklad}
{if in_array(1,$smarty.get.sloupce)}"{if $podklad.splneno!='0000-00-00'}{$podklad.splneno|date_format:"%d.%m.%Y"}{else}nezadán{/if}",{/if}
{if in_array(2,$smarty.get.sloupce)}"{$podklad.nazev}",{/if}
{if in_array(3,$smarty.get.sloupce)}"{$podklad.hodinyz|string_format:"%.2f"|replace:",":"."}",{/if}
{if in_array(4,$smarty.get.sloupce)}"{$podklad.sazbaz|string_format:"%.2f"|replace:",":"."}",{/if}
{if in_array(5,$smarty.get.sloupce)}"{$podklad.prijmy|string_format:"%.2f"|replace:",":"."}",{/if}
{if in_array(6,$smarty.get.sloupce)}"{$podklad.klic}",{/if}
;
{/foreach}
